# Server
PORT=4000
MONGODB_URI=mongodb://localhost:27017/hatchr
SOLANA_CLUSTER=devnet
HATCHR_TREASURY_PUBKEY=
HATCHR_FEE_BPS=300

# Client
VITE_BACKEND_URL=http://localhost:4000
VITE_SOLANA_CLUSTER=devnet

